.gitignore
.*
*__pycache__*
databox/shapes/*
databox/qgismap/*
databox/gridmap_errors/*
data/*
errors/*
export/*
export-world/*
!data/BO/
!export/BO/
!data/NP/
!export/NP/
!databox/shapes/BO/
!databox/qgismap/BO/
!databox/shapes/NP/
!databox/qgismap/NP/
